{% extends 'base.html' %}
{% block content %}
    <h1>My Trips</h1>
    {% if success %}
        <p style="color:green">{{ success }}</p>
    {% endif %}
    <p>Wallet Balance: {{ request.user.wallet_balance }}</p>
    <a href="{% url 'add_funds' %}">Add Funds</a>
    <ul>
        {% for booking in bookings %}
            <li>{{ booking.bus }} - {{ booking.total_cost }} ({{ booking.seat_class.class_type }}: {{ booking.start_stop.location }} → {{ booking.end_stop.location }})
                {% if booking.bus.departure_time > now|add:"-6 hours" %}
                    <a href="{% url 'cancel_trip' booking.id %}">Cancel</a> | 
                    <a href="{% url 'edit_booking_passengers' booking.id %}">Edit Passengers</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}